.App {
  text-align: center;
}

.PilotList {
  display: inline-block;
  width: 200px;
  height: 90vh;
  background-color: #00308f;
  border: 1px solid white; 
  color: white;
}

.PilotDetail{
  display: inline-block;
  width: 200px;
  height: 45vh; 
  background-color: #003cb3;
  border: 1px solid white; 
  color: white;
}